Repository pyronear/pyro-vision, pull requests merged in 2019-10, with the labels that each got.

#8 docs: Detail project setup and contributing workflow
  CONTRIBUTING.md
Labels: documentation

#11 feat: Added datasets module
  docs/source/_static/css/custom_theme.css
  docs/source/datasets.rst
  docs/source/index.rst
  pyronear/__init__.py
  pyronear/datasets/__init__.py
  pyronear/datasets/openfire.py
  pyronear/datasets/utils.py
  requirements.txt
  test/test_datasets.py
Labels: documentation, module: datasets

#15 feat: Updated datasets.OpenFire
  pyronear/datasets/openfire.py
  pyronear/datasets/utils.py
  requirements.txt
  test/test_datasets.py
Labels: module: datasets

#16 test: Using module tempfile to avoid failed test on #15
  test/test_datasets.py
Labels: module: test, topic: build

#17 style: Renamed unittest and fixed __init__
  pyronear/utils/__init__.py
  test/test_utils.py
Labels: module: test, module: utils

#18 feat: Updated OpenFire URL
  README.md
  pyronear/datasets/openfire.py
  test/test_datasets.py
Labels: module: datasets

#21 fix: Fixed OpenFire image extension guessing
  pyronear/datasets/utils.py
  test/test_datasets.py
Labels: module: datasets

#23 feat: Added reference scripts for binary classification
  README.md
  references/classification/fastai/requirements.txt
  references/classification/fastai/train.py
  references/classification/torch/requirements.txt
  references/classification/torch/train.py
  setup.py
Labels: module: reference scripts

#32 OpenFire extract update
  pyronear/datasets/openfire.py
  references/classification/fastai/train.py
  references/classification/torch/train.py
  test/test_datasets.py
Labels: module: datasets

#30 fix: Fixed training scripts
  references/classification/fastai/train.py
  references/classification/torch/train.py
Labels: module: reference scripts

#31 style: Fixed flake8 issues
  README.md
  pyronear/__init__.py
  pyronear/datasets/__init__.py
  pyronear/datasets/openfire.py
  setup.py
  test/test_datasets.py
  test/test_utils.py
Labels: enhancement

#35 style: Added pep8 verification to CI
  .circleci/config.yml
  .circleci/requirements.txt
  .flake8
  pyronear/datasets/openfire.py
  pyronear/datasets/utils.py
  pyronear/utils/collect_env.py
Labels: module: ci

#37 feat: Added the models module
  docs/source/conf.py
  docs/source/index.rst
  docs/source/models.rst
  pyronear/__init__.py
  pyronear/models/__init__.py
  pyronear/models/resnet.py
  setup.py
  test/test_datasets.py
  test/test_models.py
  test/test_utils.py
Labels: module: models

#38 style: Fixed pep8 compliance
  pyronear/models/resnet.py
Labels: module: models

#39 refactor: Revised OpenFire folder hierarchy
  pyronear/datasets/openfire.py
  references/classification/fastai/train.py
  setup.py
  test/test_datasets.py
Labels: module: datasets

#41 feat: Unified model creation for CNN
  docs/source/_static/css/custom_theme.css
  docs/source/index.rst
  docs/source/models.rst
  docs/source/nn.rst
  pyronear/models/__init__.py
  pyronear/models/densenet.py
  pyronear/models/mobilenet.py
  pyronear/models/resnet.py
  pyronear/models/utils.py
  pyronear/nn/__init__.py
  pyronear/nn/functional.py
  pyronear/nn/modules/__init__.py
  pyronear/nn/modules/pooling.py
  references/classification/fastai/train.py
  references/classification/torch/train.py
  test/test_models.py
  test/test_nn.py
Labels: module: models, module: nn, module: reference scripts

#42 docs: Updated docs for 0.1.0 release
  README.md
  docs/source/_static/img/pyronear-logo-dark.png
  docs/source/conf.py
Labels: documentation

#43 chore: Updated version indicator
  README.md
  docs/requirements.txt
  setup.py
Labels: documentation, module: ci
