Repository pyronear/pyro-vision, pull requests merged in 2020-05, with the labels that each got.

#57 fix: Fixed version attribute import
  .gitignore
  pyronear/__init__.py
  pyronear/version.py
  setup.py
Labels: topic: build

#48 Add frame extractor for wildfire
  pyronear/datasets/wildfire/__init__.py
  pyronear/datasets/wildfire/frame_extractor.py
  requirements.txt
  test/fixtures/wildfire_states.csv
  test/test_datasets_wildfire_frame_extractor.py
Labels: enhancement, module: datasets

#63 Allow test ratio to zero in WildFireSplitter
  pyronear/datasets/wildfire/split_strategy.py
  test/test_datasets_wildfire_split.py
Labels: enhancement, module: datasets

#64 Train WildFire
  references/classification/OpenFire/fastai/requirements.txt
  references/classification/OpenFire/fastai/train.py
  references/classification/OpenFire/torch/requirements.txt
  references/classification/OpenFire/torch/train.py
  references/classification/WildFire/torch/requirements.txt
  references/classification/WildFire/torch/train.py
Labels: module: reference scripts

#68 chore: Switched from CircleCI to GitHub workflow
  .circleci/config.yml
  .github/workflows/doc-deploy.yml
  .github/workflows/gh-page.yml
  .github/workflows/main.yml
  .github/workflows/requirements.txt
Labels: topic: build

#73 chore: Fixes follow-ups issues from #68
  .github/workflows/doc-deploy.yml
  .github/workflows/gh-page.yml
  .github/workflows/main.yml
  .github/workflows/requirements.txt
Labels: module: ci
