Repository pyronear/pyro-vision, pull requests merged in 2020-06, with the labels that each got.

#72 Add markdown broken links checker in CI
  .github/workflows/markdown-links-config.json
  .github/workflows/markdown-links.yml
  CONTRIBUTING.md
  README.md
Labels: module: ci

#71 Update project setup documentation to clarify virtualenvwrapper init (fix #70)
  CONTRIBUTING.md
Labels: documentation, topic: build

#74 chore: Ensure squashed merged PR triggers workflow
  .github/workflows/main.yml
Labels: enhancement, module: ci

#75 docs: Updated docs following up on repo transfer
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  README.md
  setup.py
Labels: documentation, enhancement

#67 chore: Cleaned setup.py and updates gitignore
  .gitignore
  setup.py
Labels: topic: build

#69 Add sub sampler resnet18
  docs/source/models.rst
  pyronear/models/__init__.py
  pyronear/models/ssresnet.py
  test/test_models.py
Labels: enhancement, module: models

#76 refactor: Cleaned code base
  pyronear/datasets/openfire.py
  pyronear/datasets/wildfire/fire_labeler.py
  pyronear/datasets/wildfire/frame_extractor.py
  references/classification/OpenFire/fastai/train.py
  references/classification/WildFire/torch/train.py
  test/test_datasets_wildfire_split.py
Labels: enhancement, module: datasets, module: reference scripts, module: test

#77 fix: making sure that path_to_frames are path type and not str
  pyronear/datasets/wildfire/wildfire.py
  test/test_datasets_wildfire_split.py
Labels: enhancement, module: datasets
