Repository pyronear/pyro-vision, pull requests merged in 2021-02, with the labels that each got.

#95 chore: Updated all License references to aGPLv3
  LICENSE
  LICENSE.AGPL
  LICENSE.CeCILL
  README.md
  docs/source/conf.py
  pyrovision/__init__.py
  pyrovision/datasets/__init__.py
  pyrovision/datasets/openfire.py
  pyrovision/datasets/utils.py
  pyrovision/datasets/wildfire/__init__.py
  pyrovision/datasets/wildfire/fire_labeler.py
  pyrovision/datasets/wildfire/frame_extractor.py
  pyrovision/datasets/wildfire/split_strategy.py
  pyrovision/datasets/wildfire/wildfire.py
  pyrovision/models/__init__.py
  pyrovision/models/densenet.py
  pyrovision/models/mobilenet.py
  pyrovision/models/resnet.py
  pyrovision/models/ssresnet.py
  pyrovision/models/utils.py
  pyrovision/nn/__init__.py
  pyrovision/nn/functional.py
  pyrovision/nn/modules/__init__.py
  pyrovision/nn/modules/pooling.py
  pyrovision/utils/__init__.py
  pyrovision/utils/collect_env.py
  references/classification/OpenFire/fastai/train.py
  references/classification/OpenFire/torch/train.py
  references/classification/WildFire/torch/train.py
  setup.py
  test/test_datasets.py
  test/test_datasets_wildfire.py
  test/test_datasets_wildfire_frame_extractor.py
  test/test_datasets_wildfire_split.py
  test/test_datasets_wildfire_subsampler.py
  test/test_headers.py
  test/test_models.py
  test/test_nn.py
  test/test_utils.py
Labels: documentation

#96 chore: Moved environment collection script outside of lib
  .github/ISSUE_TEMPLATE/bug_report.md
  pyrovision/utils/__init__.py
  scripts/collect_env.py
Labels: enhancement, module: scripts, module: utils

#97 refactor: Refactored pyrovision.datasets module
  .gitignore
  pyrovision/datasets/openfire.py
  pyrovision/datasets/utils.py
  pyrovision/datasets/video_utils.py
  pyrovision/datasets/wildfire.py
  pyrovision/datasets/wildfire/__init__.py
  pyrovision/datasets/wildfire/fire_labeler.py
  pyrovision/datasets/wildfire/split_strategy.py
  test/test_datasets.py
  test/test_datasets_utils.py
  test/test_datasets_video_utils.py
  test/test_datasets_wildfire.py
  test/test_datasets_wildfire_frame_extractor.py
  test/test_datasets_wildfire_split.py
  test/test_datasets_wildfire_subsampler.py
Labels: enhancement, module: datasets

#100 test: Change sample download failure tolerance for OpenFire
  test/test_datasets.py
Labels: bug, module: models, module: test

#86 Create pyronear predictor
  docs/source/models.rst
  pyrovision/models/__init__.py
  pyrovision/models/rexnet.py
  requirements.txt
Labels: enhancement

#102 refactor: Replaced Flatten by torch version
  pyrovision/models/utils.py
Labels: enhancement, module: models

#101 Update training script
  references/classification/WildFire/torch/README.md
  references/classification/WildFire/torch/train.py
Labels: enhancement, module: references

#105 Clean out fixture content files
  test/fixtures/subsampler.csv
  test/fixtures/wildfire_dataset.csv
  test/fixtures/wildfire_example.jpg
  test/fixtures/wildfire_states.csv
  test/test_datasets.py
  test/test_datasets_video_utils.py
Labels: module: test

#106 docs: Fixed sphinx requirements
  docs/requirements.txt
Labels: bug, documentation, topic: build

#107 docs: Removed utils from documentation
  docs/source/index.rst
  docs/source/utils.rst
Labels: documentation

#110 chore : Fixed bug risks
  scripts/collect_env.py
Labels: enhancement, module: scripts

#111 update codacity links
  README.md
Labels: bug, documentation

#108 feat: Added Dockerfile for ubuntu image
  .github/workflows/main.yml
  Dockerfile
  README.md
Labels: topic: docker
