Repository pyronear/pyro-vision, pull requests merged in 2021-03, with the labels that each got.

#112 chore: Post-release modifications
  .conda/meta.yaml
  .github/workflows/requirements.txt
  .gitignore
  README.md
  pyrovision/version.py
  requirements.txt
  setup.cfg
  setup.py
Labels: enhancement, topic: build

#115 fix: Fixed mobilenet imports for latest torch/torchvision releases
  pyrovision/models/mobilenet.py
  requirements.txt
  setup.py
Labels: bug

#119 increase OpenFire download threshold
  test/test_datasets.py
Labels: bug

#116 docs: add inference exemple in readme
  README.md
Labels: documentation, enhancement
