Repository pyronear/pyro-vision, pull requests merged in 2022-02, with the labels that each got.

#129 fix: Fixed import for torch 1.10 release
  pyrovision/models/densenet.py
  pyrovision/models/mobilenet.py
  pyrovision/models/resnet.py
  requirements.txt
  setup.py
Labels: bug, module: models

#133 refactor: Refactored setup.py
  pyrovision/version.py
  setup.py
Labels: topic: build

#132 chore: Updated license from AGPLv3 to Apache 2
  .github/validate_headers.py
  .github/workflows/main.yml
  LICENSE
  README.md
  pyrovision/datasets/openfire.py
  pyrovision/datasets/utils.py
  pyrovision/datasets/video_utils.py
  pyrovision/datasets/wildfire.py
  pyrovision/models/densenet.py
  pyrovision/models/mobilenet.py
  pyrovision/models/resnet.py
  pyrovision/models/rexnet.py
  pyrovision/models/ssresnet.py
  pyrovision/models/utils.py
  pyrovision/nn/functional.py
  pyrovision/nn/modules/pooling.py
  references/classification/train.py
  scripts/collect_env.py
  setup.py
  test/test_headers.py
Labels: documentation, topic: ci

#134 Update README.md
  README.md
Labels: bug, documentation

#135 ci: Updated python version for builds
  .github/workflows/builds.yml
Labels: enhancement, topic: ci
